.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; 
  border-radius: 10px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background: #888; 
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #AAA; 
}